In [1]:
import pandas as pd
df=pd.read_csv(r"C:\Users\YAMUNA\OneDrive\Documents\study_marks.csv")
df

   Study_Hours  Marks
0          2.9   27.0
1          5.8   61.0
2          4.7   45.0
3          4.0   38.0
4          1.8   19.0
5          1.8    8.0
6          1.3    4.0
7          5.3   50.0
8          4.0   35.0
9          4.5   47.0

# Covarience

In [2]:
df.cov() # find a covariance , if the diagonal has positive values, range is (-infinity ,+ infinity)

             Study_Hours       Marks
Study_Hours     2.481000   28.906667
Marks          28.906667  348.711111

# Correlation

In [3]:
df.corr() # find a correlation, it shows the strength and relationship, range is (-1,1)

             Study_Hours    Marks
Study_Hours      1.00000  0.98277
Marks            0.98277  1.00000

In [4]:
df.var()

Study_Hours      2.481000
Marks          348.711111
dtype: float64

In [8]:
import pandas as pd
df=pd.read_csv(r"C:\Users\YAMUNA\OneDrive\Documents\TEMP.csv")
df

   Temperature  Humidity
0           34        50
1           24        45
2           34        36
3           12        56
4           67        78
5           78        89
6           89        78

In [9]:
df.var()

Temperature    867.571429
Humidity       397.571429
dtype: float64

In [10]:
df.corr()

             Temperature  Humidity
Temperature     1.000000  0.830515
Humidity        0.830515  1.000000

In [11]:
df.cov()

             Temperature    Humidity
Temperature   867.571429  487.761905
Humidity      487.761905  397.571429

In [12]:
data= {
    "temp": [30,32,34,35,36],   # negative correlation
    "humidity":[40,39,34,28,27]
}
df=pd.DataFrame(data)
df

   temp  humidity
0    30        40
1    32        39
2    34        34
3    35        28
4    36        27

In [13]:
df.cov()

          temp  humidity
temp       5.8     -13.8
humidity -13.8      36.3

In [14]:
df.var()

temp         5.8
humidity    36.3
dtype: float64

In [15]:
df.corr()

              temp  humidity
temp      1.000000 -0.951068
humidity -0.951068  1.000000