In [2]:
import pandas as pd
df=pd.DataFrame({
    "Color":["Red","Green","Blue","Green","Red"],
    "Size":["small","medium","large","medium","small"],
    "City":["Hyd","Delhi","Mumbai","Delhi","Chennai"],
    "Target":[23,24,56,78,90]
})
df

   Color    Size     City  Target
0    Red   small      Hyd      23
1  Green  medium    Delhi      24
2   Blue   large   Mumbai      56
3  Green  medium    Delhi      78
4    Red   small  Chennai      90

# Lable encoding

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
df["Color_Label"]=LabelEncoder().fit_transform(df["Color"])
df[["Color","Color_Label"]]

   Color  Color_Label
0    Red            2
1  Green            1
2   Blue            0
3  Green            1
4    Red            2

# one-Hot Encoding

In [7]:
one_hot=pd.get_dummies(df["Color"],prefix="Color")
one_hot

   Color_Blue  Color_Green  Color_Red
0       False        False       True
1       False         True      False
2        True        False      False
3       False         True      False
4       False        False       True

In [8]:
ohe=pd.get_dummies(df,columns=['Color'])
print(ohe)

     Size     City  Tatget  Color_Label  Color_Blue  Color_Green  Color_Red
0   small      Hyd      23            2       False        False       True
1  medium    Delhi      24            1       False         True      False
2   large   Mumbai      56            0        True        False      False
3  medium    Delhi      78            1       False         True      False
4   small  Chennai      90            2       False        False       True

# Ordinal Encoding

In [9]:
from sklearn.preprocessing import OrdinalEncoder

In [21]:
order=[["small","medium","large"]]
order

[['small', 'medium', 'large']]

In [22]:
df["Size_Ordinal"]=OrdinalEncoder(categories=order).fit_transform(df[["Size"]])
df[["Size","Size_Ordinal"]]

     Size  Size_Ordinal
0   small           0.0
1  medium           1.0
2   large           2.0
3  medium           1.0
4   small           0.0

# Target Encoding

In [5]:
te=df.groupby("City")["Target"].mean()
df["City_Target_Enc"]=df["City"].map(te)
df[["City","City_Target_Enc"]]

      City  City_Target_Enc
0      Hyd             23.0
1    Delhi             51.0
2   Mumbai             56.0
3    Delhi             51.0
4  Chennai             90.0

# Frequency Encoding

In [6]:
freq=df.groupby("City")["Target"].count()
df["City_Freq_Enc"]=df["City"].map(freq)
df[["City","City_Freq_Enc"]]

      City  City_Freq_Enc
0      Hyd              1
1    Delhi              2
2   Mumbai              1
3    Delhi              2
4  Chennai              1

# Binary Encoding

In [ ]:
pip install category_encoders

In [3]:
import category_encoders as ce
data_binary=ce.BinaryEncoder(cols=["City"]).fit_transform(df["City"])
data_binary

   City_0  City_1  City_2
0       0       0       1
1       0       1       0
2       0       1       1
3       0       1       0
4       1       0       0